/* You can add global styles to this file, and also import other style files */
.title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  justify-content: space-between;
  align-items: center;

  .ui.primary.button {
    height: 35px;
  }
}
