.ui.container {
  //width: auto;

  .page {
    margin-top: 10px;

    td:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) thead {
    display: none;
  }
}
