<div class="ui container">
  <div class="title">
    <app-title title="Cidades" description="Lista de todas as cidades cadastradas.">
    </app-title>

    <button class="ui primary button" (click)="goToAddCity()">
      <i class="plus icon"></i>Adicionar
    </button>
  </div>

  <div class="page">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Cidade</th>
          <th>Alíquota IPTU</th>
          <th>Setores</th>
        </tr>
      </thead>
      <tbody *ngFor="let city of cities">
        <tr (click)="goToCityDetail(city._id)">
          <td>{{city.name}}</td>
          <td>{{city.iptuAliquot}}</td>
          <td>{{city.sectors.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
